### Evaluating the impact of variable readnoise in different chips ###

As chips are being delivered, they are being tested to evaluate their readnoise limits. Different chips show different behavior. This notebook evaluates the impact of these different readnoise levels, as well as evaluating the overall impact considering the distribution of readnoise/chips.

In [1]:
import numpy as np
import pandas as pd
# import rubin_sim.phot_utils as phot_utils
import syseng_throughputs as st

In [2]:
pd.set_option('display.precision', 3)

In [3]:
# Read bandpass information.
defaultDirs = st.setDefaultDirs()
addLosses = True
atmosphere = st.readAtmosphere(defaultDirs['atmosphere'], atmosFile='atmos_10_aerosol.dat')
hardware, system = st.buildHardwareAndSystem(defaultDirs, addLosses, atmosphereOverride=atmosphere)

In [4]:
# Standard LSST visits, standard LSST readnoise and 1 visit = 15s x 2exp
v_standard = st.makeM5(hardware, system, exptime=15, nexp=2, readnoise=8.8, othernoise=0, darkcurrent=0.2)
v_standard

,nexp,exptime,FWHMeff,FWHMgeom,skyMag,skyCounts,Zp_t,Tb,Sb,kAtm,gamma,Cm,dCm_infinity,dCm_double,m5,sourceCounts,m5_fid,m5_min
u,2.0,15.0,0.92,0.808,23.052,45.303,26.524,0.023,0.035,0.470,0.038,22.719,0.792,0.533,23.449,509.804,23.9,23.4
g,2.0,15.0,0.87,0.767,22.254,463.634,28.508,0.143,0.173,0.213,0.039,24.512,0.159,0.083,24.902,830.797,25.0,24.6
r,2.0,15.0,0.83,0.734,21.198,988.627,28.361,0.124,0.140,0.126,0.039,24.565,0.081,0.040,24.479,1071.593,24.7,24.3
i,2.0,15.0,0.80,0.710,20.463,1588.281,28.171,0.105,0.114,0.096,0.039,24.517,0.052,0.024,24.103,1271.704,24.0,23.6
z,2.0,15.0,0.78,0.693,19.606,2381.945,27.782,0.073,0.078,0.068,0.039,24.354,0.035,0.016,23.540,1492.761,23.3,22.9
y,2.0,15.0,0.76,0.677,18.602,2717.112,26.818,0.030,0.035,0.171,0.039,23.825,0.031,0.014,22.537,1546.915,22.1,21.7

In [5]:
# Standard LSST readnoise but 1 visit = 30s x 1exp
v_double = st.makeM5(hardware, system, exptime=30, nexp=1, readnoise=8.8, othernoise=0, darkcurrent=0.2)
v_double

,nexp,exptime,FWHMeff,FWHMgeom,skyMag,skyCounts,Zp_t,Tb,Sb,kAtm,gamma,Cm,dCm_infinity,dCm_double,m5,sourceCounts,m5_fid,m5_min
u,1.0,30.0,0.92,0.808,23.052,45.303,26.524,0.023,0.035,0.470,0.038,22.968,0.543,0.344,23.697,405.543,23.9,23.4
g,1.0,30.0,0.87,0.767,22.254,463.634,28.508,0.143,0.173,0.213,0.039,24.582,0.088,0.044,24.973,778.397,25.0,24.6
r,1.0,30.0,0.83,0.734,21.198,988.627,28.361,0.124,0.140,0.126,0.039,24.602,0.043,0.020,24.516,1035.302,24.7,24.3
i,1.0,30.0,0.80,0.710,20.463,1588.281,28.171,0.105,0.114,0.096,0.039,24.541,0.028,0.012,24.128,1243.517,24.0,23.6
z,1.0,30.0,0.78,0.693,19.606,2381.945,27.782,0.073,0.078,0.068,0.039,24.371,0.019,0.007,23.557,1470.048,23.3,22.9
y,1.0,30.0,0.76,0.677,18.602,2717.112,26.818,0.030,0.035,0.171,0.039,23.840,0.016,0.006,22.552,1526.132,22.1,21.7

In [6]:
# Standard LSST readnoise but 1 visit = 50s x 1exp
v_fifty = st.makeM5(hardware, system, exptime=50, nexp=1, readnoise=8.8, othernoise=0, darkcurrent=0.2)
v_fifty

,nexp,exptime,FWHMeff,FWHMgeom,skyMag,skyCounts,Zp_t,Tb,Sb,kAtm,gamma,Cm,dCm_infinity,dCm_double,m5,sourceCounts,m5_fid,m5_min
u,1.0,50.0,0.92,0.808,23.052,75.505,26.524,0.023,0.035,0.470,0.038,23.121,0.403,0.250,24.128,454.633,23.9,23.4
g,1.0,50.0,0.87,0.767,22.254,772.724,28.508,0.143,0.173,0.213,0.039,24.618,0.057,0.029,25.286,972.821,25.0,24.6
r,1.0,50.0,0.83,0.734,21.198,1647.711,28.361,0.124,0.140,0.126,0.039,24.621,0.028,0.013,24.812,1313.678,24.7,24.3
i,1.0,50.0,0.80,0.710,20.463,2647.134,28.171,0.105,0.114,0.096,0.039,24.554,0.018,0.007,24.417,1586.912,24.0,23.6
z,1.0,50.0,0.78,0.693,19.606,3969.909,27.782,0.073,0.078,0.068,0.039,24.380,0.012,0.004,23.843,1882.301,23.3,22.9
y,1.0,50.0,0.76,0.677,18.602,4528.520,26.818,0.030,0.035,0.171,0.039,23.848,0.010,0.004,22.837,1955.727,22.1,21.7

In [7]:
v_standard['m5'].loc['u'], v_double['m5'].loc['u'], v_fifty['m5'].loc['u']

(23.4485323253053, 23.696948330090482, 24.127510434291896)

In [8]:
# 7e readnoise, 1 visit = 15s x 2exp
v_7_15 = st.makeM5(hardware, system, exptime=15, nexp=2, readnoise=7, othernoise=0, darkcurrent=0.2)
# 7e readnoise, 1 visit = 30s x 1 exp
v_7_30 = st.makeM5(hardware, system, exptime=30, nexp=1, readnoise=7, othernoise=0, darkcurrent=0.2)

In [9]:
# 9e readnoise, 1 visit = 15s x 2 exp
v_9_15 = st.makeM5(hardware, system, exptime=15, nexp=2, readnoise=9, othernoise=0, darkcurrent=0.2)
# 9e readnoise, 1 visit = 30s x 1 exp                  
v_9_30 = st.makeM5(hardware, system, exptime=30, nexp=1, readnoise=9, othernoise=0, darkcurrent=0.2)

In [10]:
# 13 e readnoise, 1 visit = 15s x 2 exp
v_13_15 = st.makeM5(hardware, system, exptime=15, nexp=2, readnoise=13, othernoise=0, darkcurrent=0.2)
# 13e readnoise, 1 visit = 30s x 1 exp
v_13_30 = st.makeM5(hardware, system, exptime=30, nexp=1, readnoise=13, othernoise=0, darkcurrent=0.2)

In [11]:
# 18 e readnoise, 1 visit = 15s x 2 exp
v_18_15 = st.makeM5(hardware, system, exptime=15, nexp=2, readnoise=18, othernoise=0, darkcurrent=0.2)
# 18e readnoise, 1 visit = 30s x 1 exp
v_18_30 = st.makeM5(hardware, system, exptime=30, nexp=1, readnoise=18, othernoise=0, darkcurrent=0.2)

In [12]:
cols = ['dCm_infinity']
coln = 'dCm_inf'
m5s = [v_7_15, v_7_30, v_9_15, v_9_30, v_13_15, v_13_30, v_18_15, v_18_30]
names = ['7_15', '7_30', '9_15', '9_30', '13_15', '13_30', '18_15', '18_30']
fullnames = []
for n in names:
    fullnames.append(n + ' ' + coln)
first = True
for x, n in zip(m5s, fullnames):
    tmp = pd.DataFrame(x[cols])
    tmp.columns = [n]
    if first:
        d = tmp
        first = False
    else:
        d = d.join(tmp)
d

,7_15 dCm_inf,7_30 dCm_inf,9_15 dCm_inf,9_30 dCm_inf,13_15 dCm_inf,13_30 dCm_inf,18_15 dCm_inf,18_30 dCm_inf
u,0.621,0.412,0.810,0.558,1.129,0.827,1.442,1.110
g,0.108,0.060,0.165,0.092,0.297,0.171,0.471,0.287
r,0.054,0.029,0.084,0.045,0.160,0.087,0.273,0.155
i,0.034,0.018,0.054,0.029,0.105,0.056,0.185,0.101
z,0.023,0.012,0.037,0.019,0.073,0.038,0.131,0.070
y,0.020,0.011,0.032,0.017,0.064,0.034,0.116,0.062

### Impact on dCm_infinity ###

In [13]:
# Change in dCm_infinity
d.subtract(d['9_15 dCm_inf'], axis=0)

,7_15 dCm_inf,7_30 dCm_inf,9_15 dCm_inf,9_30 dCm_inf,13_15 dCm_inf,13_30 dCm_inf,18_15 dCm_inf,18_30 dCm_inf
u,-0.188,-0.397,0.0,-0.252,0.320,0.017,0.633,0.300
g,-0.057,-0.105,0.0,-0.073,0.132,0.006,0.306,0.122
r,-0.031,-0.055,0.0,-0.039,0.076,0.003,0.188,0.070
i,-0.020,-0.036,0.0,-0.025,0.051,0.002,0.131,0.047
z,-0.014,-0.024,0.0,-0.017,0.036,0.001,0.094,0.033
y,-0.012,-0.022,0.0,-0.015,0.032,0.001,0.084,0.029

In [14]:
# Latex version for documents
print(d.to_latex())

\begin{tabular}{lrrrrrrrr}
\toprule
 & 7_15 dCm_inf & 7_30 dCm_inf & 9_15 dCm_inf & 9_30 dCm_inf & 13_15 dCm_inf & 13_30 dCm_inf & 18_15 dCm_inf & 18_30 dCm_inf \\
\midrule
u & 0.621290 & 0.412403 & 0.809711 & 0.557665 & 1.129354 & 0.826811 & 1.442282 & 1.109839 \\
g & 0.108014 & 0.059808 & 0.165105 & 0.091774 & 0.296635 & 0.170998 & 0.470804 & 0.287270 \\
r & 0.053625 & 0.029022 & 0.084158 & 0.045216 & 0.160179 & 0.087395 & 0.272535 & 0.154509 \\
i & 0.034078 & 0.018290 & 0.054029 & 0.028653 & 0.105373 & 0.056167 & 0.185412 & 0.101462 \\
z & 0.022999 & 0.012285 & 0.036681 & 0.019306 & 0.072614 & 0.038157 & 0.130621 & 0.069841 \\
y & 0.020222 & 0.010788 & 0.032300 & 0.016967 & 0.064188 & 0.033605 & 0.116151 & 0.061719 \\
\bottomrule
\end{tabular}

In [15]:
cols = ['m5']
coln = 'm5'
m5s = [v_7_15, v_7_30, v_9_15, v_9_30, v_13_15, v_13_30, v_18_15, v_18_30]
names = ['7_15', '7_30', '9_15', '9_30', '13_15', '13_30', '18_15', '18_30']
fullnames = []
for n in names:
    fullnames.append(n + ' ' + coln)
first = True
for x, n in zip(m5s, fullnames):
    tmp = pd.DataFrame(x[cols])
    tmp.columns = [n]
    if first:
        d = tmp
        first = False
    else:
        d = d.join(tmp)
d

   7_15 m5  7_30 m5  9_15 m5  9_30 m5  13_15 m5  13_30 m5  18_15 m5  18_30 m5
u   23.619   23.828   23.431   23.683    23.111    23.413    22.798    23.130
g   24.953   25.002   24.896   24.970    24.765    24.890    24.591    24.774
r   24.506   24.530   24.475   24.514    24.399    24.472    24.287    24.405
i   24.121   24.137   24.101   24.126    24.050    24.099    23.970    24.054
z   23.552   23.563   23.539   23.556    23.503    23.537    23.445    23.505
y   22.548   22.557   22.536   22.551    22.504    22.534    22.452    22.506

### Impact on m5 ###

In [16]:
d.subtract(d['9_15 m5'], axis=0)

   7_15 m5  7_30 m5  9_15 m5  9_30 m5  13_15 m5  13_30 m5  18_15 m5  18_30 m5
u    0.188    0.397      0.0    0.252    -0.320    -0.017    -0.633    -0.300
g    0.057    0.105      0.0    0.073    -0.132    -0.006    -0.306    -0.122
r    0.031    0.055      0.0    0.039    -0.076    -0.003    -0.188    -0.070
i    0.020    0.036      0.0    0.025    -0.051    -0.002    -0.131    -0.047
z    0.014    0.024      0.0    0.017    -0.036    -0.001    -0.094    -0.033
y    0.012    0.022      0.0    0.015    -0.032    -0.001    -0.084    -0.029

### Impact on effective time ###

In [17]:
SRD_time_distribution = {'u': 0.068, 'g': 0.097, 'r': 0.223, 
                         'i': 0.223, 'z': 0.194, 'y': 0.194}
# Fractional change in effective time is proportional to change in m5.
# Longer = better
dtime = np.power(10, 0.8 * (d.subtract(d['9_15 m5'], axis=0)))
dtime

   7_15 m5  7_30 m5  9_15 m5  9_30 m5  13_15 m5  13_30 m5  18_15 m5  18_30 m5
u    1.415    2.079      1.0    1.591     0.555     0.969     0.312     0.575
g    1.111    1.214      1.0    1.145     0.785     0.989     0.569     0.798
r    1.058    1.107      1.0    1.074     0.869     0.994     0.707     0.878
i    1.037    1.068      1.0    1.048     0.910     0.996     0.785     0.916
z    1.026    1.046      1.0    1.033     0.936     0.997     0.841     0.941
y    1.022    1.040      1.0    1.029     0.943     0.998     0.857     0.947

Account for distribution of readnoise and filters:
* 50% of the focal plane has 7e read noise
* 25% of the focal plane has 9e read noise
* 20% of the focal plane has 13e read noise
* 5% of the focal plane has 18e read noise

In [18]:
# Change in time per band (2x15s visits)
dtime_weighted = (0.50 * dtime['7_15 m5']   + 0.25 * dtime['9_15 m5'] 
                  + 0.20 * dtime['13_15 m5'] + 0.05 * dtime['18_15 m5'])
dtime_weighted

u    1.084
g    0.991
r    0.988
i    0.990
z    0.992
y    0.993
dtype: float64

In [19]:
dtime_total = 0
for f in SRD_time_distribution:
    dtime_total += dtime_weighted[f] * SRD_time_distribution[f]
dtime_total

0.9959679383063235

In [20]:
# Change in time per band (1x30s visits)
dtime_weighted = (0.50 * dtime['7_30 m5']   + 0.25 * dtime['9_30 m5'] 
                  + 0.20 * dtime['13_30 m5'] + 0.05 * dtime['18_30 m5'])
dtime_weighted

u    1.660
g    1.131
r    1.065
i    1.041
z    1.028
y    1.024
dtype: float64

In [21]:
dtime_total = 0
for f in SRD_time_distribution:
    dtime_total += dtime_weighted[f] * SRD_time_distribution[f]
dtime_total

1.090219953591399