### Evaluating the impact of variable readnoise in different chips ###

As chips are being delivered, they are being tested to evaluate their readnoise limits. Different chips show different behavior. This notebook evaluates the impact of these different readnoise levels, as well as evaluating the overall impact considering the distribution of readnoise/chips.

In [1]:
import numpy as np
import pandas as pd
import lsst.sims.photUtils as photUtils
import lsst.syseng.throughputs as st

In [2]:
pd.set_option('precision', 3)

In [3]:
# Read bandpass information.
defaultDirs = st.setDefaultDirs()
addLosses = True
atmosphere = st.readAtmosphere(defaultDirs['atmosphere'], atmosFile='atmos_10_aerosol.dat')
hardware, system = st.buildHardwareAndSystem(defaultDirs, addLosses, atmosphereOverride=atmosphere)

In [4]:
# Standard LSST visits, standard LSST readnoise and 1 visit = 15s x 2exp
v_standard = st.makeM5(hardware, system, exptime=15, nexp=2, readnoise=8.8, othernoise=0, darkcurrent=0.2)
v_standard

,FWHMeff,FWHMgeom,skyMag,skyCounts,Zp_t,Tb,Sb,kAtm,gamma,Cm,dCm_infinity,dCm_double,m5,sourceCounts,m5_fid,m5_min
u,0.92,0.808,22.989,69.107,26.898,0.032,0.051,0.492,0.038,23.067,0.631,0.405,23.764,537.710,23.9,23.4
g,0.87,0.767,22.256,402.681,28.357,0.124,0.151,0.213,0.039,24.414,0.179,0.095,24.806,789.849,25.0,24.6
r,0.83,0.734,21.196,809.726,28.143,0.102,0.114,0.126,0.039,24.439,0.097,0.048,24.352,985.708,24.7,24.3
i,0.80,0.710,20.478,1144.110,27.830,0.076,0.083,0.096,0.039,24.325,0.071,0.034,23.919,1100.158,24.0,23.6
z,0.78,0.693,19.600,1713.369,27.418,0.052,0.056,0.069,0.039,24.157,0.048,0.022,23.340,1283.365,23.3,22.9
y,0.76,0.677,18.612,2282.233,26.639,0.025,0.030,0.170,0.039,23.730,0.037,0.016,22.447,1426.249,22.1,21.7

In [5]:
# Standard LSST readnoise but 1 visit = 30s x 1exp
v_double = st.makeM5(hardware, system, exptime=30, nexp=1, readnoise=8.8, othernoise=0, darkcurrent=0.2)
v_double

,FWHMeff,FWHMgeom,skyMag,skyCounts,Zp_t,Tb,Sb,kAtm,gamma,Cm,dCm_infinity,dCm_double,m5,sourceCounts,m5_fid,m5_min
u,0.92,0.808,22.989,69.107,26.898,0.032,0.051,0.492,0.038,23.283,0.414,0.250,23.981,440.304,23.9,23.4
g,0.87,0.767,22.256,402.681,28.357,0.124,0.151,0.213,0.039,24.493,0.100,0.050,24.885,734.483,25.0,24.6
r,0.83,0.734,21.196,809.726,28.143,0.102,0.114,0.126,0.039,24.483,0.053,0.024,24.396,946.084,24.7,24.3
i,0.80,0.710,20.478,1144.110,27.830,0.076,0.083,0.096,0.039,24.358,0.038,0.017,23.952,1067.397,24.0,23.6
z,0.78,0.693,19.600,1713.369,27.418,0.052,0.056,0.069,0.039,24.180,0.026,0.011,23.362,1256.835,23.3,22.9
y,0.76,0.677,18.612,2282.233,26.639,0.025,0.030,0.170,0.039,23.747,0.019,0.008,22.464,1403.664,22.1,21.7

In [6]:
# 7e readnoise, 1 visit = 15s x 2exp
v_7_15 = st.makeM5(hardware, system, exptime=15, nexp=2, readnoise=7, othernoise=0, darkcurrent=0.2)
# 7e readnoise, 1 visit = 30s x 1 exp
v_7_30 = st.makeM5(hardware, system, exptime=30, nexp=1, readnoise=7, othernoise=0, darkcurrent=0.2)

In [7]:
# 9e readnoise, 1 visit = 15s x 2 exp
v_9_15 = st.makeM5(hardware, system, exptime=15, nexp=2, readnoise=9, othernoise=0, darkcurrent=0.2)
# 9e readnoise, 1 visit = 30s x 1 exp                  
v_9_30 = st.makeM5(hardware, system, exptime=30, nexp=1, readnoise=9, othernoise=0, darkcurrent=0.2)

In [8]:
# 13 e readnoise, 1 visit = 15s x 2 exp
v_13_15 = st.makeM5(hardware, system, exptime=15, nexp=2, readnoise=13, othernoise=0, darkcurrent=0.2)
# 13e readnoise, 1 visit = 30s x 1 exp
v_13_30 = st.makeM5(hardware, system, exptime=30, nexp=1, readnoise=13, othernoise=0, darkcurrent=0.2)

In [9]:
# 18 e readnoise, 1 visit = 15s x 2 exp
v_18_15 = st.makeM5(hardware, system, exptime=15, nexp=2, readnoise=18, othernoise=0, darkcurrent=0.2)
# 18e readnoise, 1 visit = 30s x 1 exp
v_18_30 = st.makeM5(hardware, system, exptime=30, nexp=1, readnoise=18, othernoise=0, darkcurrent=0.2)

In [10]:
cols = ['dCm_infinity']
coln = 'dCm_inf'
m5s = [v_7_15, v_7_30, v_9_15, v_9_30, v_13_15, v_13_30, v_18_15, v_18_30]
names = ['7_15', '7_30', '9_15', '9_30', '13_15', '13_30', '18_15', '18_30']
fullnames = []
for n in names:
    fullnames.append(n + ' ' + coln)
first = True
for x, n in zip(m5s, fullnames):
    tmp = pd.DataFrame(x[cols])
    tmp.columns = [n]
    if first:
        d = tmp
        first = False
    else:
        d = d.join(tmp)
d

,7_15 dCm_inf,7_30 dCm_inf,9_15 dCm_inf,9_30 dCm_inf,13_15 dCm_inf,13_30 dCm_inf,18_15 dCm_inf,18_30 dCm_inf
u,0.481,0.306,0.648,0.427,0.943,0.663,1.242,0.924
g,0.122,0.068,0.186,0.104,0.330,0.192,0.516,0.320
r,0.065,0.035,0.101,0.055,0.190,0.105,0.317,0.183
i,0.047,0.025,0.073,0.039,0.141,0.076,0.243,0.136
z,0.032,0.017,0.050,0.027,0.098,0.052,0.174,0.095
y,0.024,0.013,0.038,0.020,0.076,0.040,0.136,0.073

### Impact on dCm_infinity ###

In [11]:
# Change in dCm_infinity
d.subtract(d['9_15 dCm_inf'], axis=0)

,7_15 dCm_inf,7_30 dCm_inf,9_15 dCm_inf,9_30 dCm_inf,13_15 dCm_inf,13_30 dCm_inf,18_15 dCm_inf,18_30 dCm_inf
u,-0.166,-0.342,0.0,-0.221,0.295,0.015,0.594,0.277
g,-0.064,-0.118,0.0,-0.082,0.144,0.007,0.330,0.134
r,-0.036,-0.066,0.0,-0.046,0.089,0.004,0.217,0.082
i,-0.027,-0.048,0.0,-0.034,0.068,0.003,0.169,0.062
z,-0.019,-0.033,0.0,-0.024,0.048,0.002,0.124,0.044
y,-0.014,-0.025,0.0,-0.018,0.037,0.002,0.097,0.034

In [12]:
# Latex version for documents
print(d.to_latex())

\begin{tabular}{lrrrrrrrr}
\toprule
{} &  7\_15 dCm\_inf &  7\_30 dCm\_inf &  9\_15 dCm\_inf &  9\_30 dCm\_inf &  13\_15 dCm\_inf &  13\_30 dCm\_inf &  18\_15 dCm\_inf &  18\_30 dCm\_inf \\
\midrule
u &         0.481 &         0.306 &         0.648 &         0.427 &          0.943 &          0.663 &          1.242 &          0.924 \\
g &         0.122 &         0.068 &         0.186 &         0.104 &          0.330 &          0.192 &          0.516 &          0.320 \\
r &         0.065 &         0.035 &         0.101 &         0.055 &          0.190 &          0.105 &          0.317 &          0.183 \\
i &         0.047 &         0.025 &         0.073 &         0.039 &          0.141 &          0.076 &          0.243 &          0.136 \\
z &         0.032 &         0.017 &         0.050 &         0.027 &          0.098 &          0.052 &          0.174 &          0.095 \\
y &         0.024 &         0.013 &         0.038 &         0.020 &          0.076 &          0.040 &          0.136 &          0.073 \\
\bottomrule
\end{tabular}

In [13]:
cols = ['m5']
coln = 'm5'
m5s = [v_7_15, v_7_30, v_9_15, v_9_30, v_13_15, v_13_30, v_18_15, v_18_30]
names = ['7_15', '7_30', '9_15', '9_30', '13_15', '13_30', '18_15', '18_30']
fullnames = []
for n in names:
    fullnames.append(n + ' ' + coln)
first = True
for x, n in zip(m5s, fullnames):
    tmp = pd.DataFrame(x[cols])
    tmp.columns = [n]
    if first:
        d = tmp
        first = False
    else:
        d = d.join(tmp)
d

   7_15 m5  7_30 m5  9_15 m5  9_30 m5  13_15 m5  13_30 m5  18_15 m5  18_30 m5
u   23.914   24.090   23.748   23.969    23.453    23.733    23.153    23.471
g   24.863   24.917   24.800   24.881    24.656    24.793    24.470    24.666
r   24.384   24.414   24.348   24.394    24.259    24.344    24.131    24.266
i   23.943   23.964   23.916   23.950    23.849    23.913    23.747    23.854
z   23.356   23.371   23.338   23.361    23.289    23.336    23.214    23.293
y   22.459   22.471   22.445   22.463    22.408    22.444    22.348    22.411

### Impact on m5 ###

In [14]:
d.subtract(d['9_15 m5'], axis=0)

   7_15 m5  7_30 m5  9_15 m5  9_30 m5  13_15 m5  13_30 m5  18_15 m5  18_30 m5
u    0.166    0.342      0.0    0.221    -0.295    -0.015    -0.594    -0.277
g    0.064    0.118      0.0    0.082    -0.144    -0.007    -0.330    -0.134
r    0.036    0.066      0.0    0.046    -0.089    -0.004    -0.217    -0.082
i    0.027    0.048      0.0    0.034    -0.068    -0.003    -0.169    -0.062
z    0.019    0.033      0.0    0.024    -0.048    -0.002    -0.124    -0.044
y    0.014    0.025      0.0    0.018    -0.037    -0.002    -0.097    -0.034

### Impact on effective time ###

In [15]:
SRD_time_distribution = {'u': 0.068, 'g': 0.097, 'r': 0.223, 
                         'i': 0.223, 'z': 0.194, 'y': 0.194}
# Fractional change in effective time is proportional to change in m5.
dtime = np.power(10, -0.8 * (d.subtract(d['9_15 m5'], axis=0)))
dtime

   7_15 m5  7_30 m5  9_15 m5  9_30 m5  13_15 m5  13_30 m5  18_15 m5  18_30 m5
u    0.736    0.533      1.0    0.666     1.723     1.029     2.989     1.665
g    0.890    0.805      1.0    0.860     1.303     1.012     1.836     1.279
r    0.935    0.886      1.0    0.918     1.178     1.007     1.490     1.163
i    0.952    0.915      1.0    0.939     1.133     1.005     1.366     1.122
z    0.966    0.941      1.0    0.957     1.093     1.004     1.256     1.085
y    0.974    0.954      1.0    0.967     1.071     1.003     1.197     1.066

Account for distribution of readnoise and filters:
* 50% of the focal plane has 7e read noise
* 25% of the focal plane has 9e read noise
* 20% of the focal plane has 13e read noise
* 5% of the focal plane has 18e read noise

In [16]:
# Change in time per band (2x15s visits)
dtime_weighted = (0.50 * dtime['7_15 m5']   + 0.25 * dtime['9_15 m5'] 
                  + 0.20 * dtime['13_15 m5'] + 0.05 * dtime['18_15 m5'])
dtime_weighted

u    1.112
g    1.047
r    1.028
i    1.021
z    1.014
y    1.011
dtype: float64

In [17]:
dtime_total = 0
for f in SRD_time_distribution:
    dtime_total += dtime_weighted[f] * SRD_time_distribution[f]
dtime_total

1.026948577872657

In [18]:
# Change in time per band (1x30s visits)
dtime_weighted = (0.50 * dtime['7_30 m5']   + 0.25 * dtime['9_30 m5'] 
                  + 0.20 * dtime['13_30 m5'] + 0.05 * dtime['18_30 m5'])
dtime_weighted

u    0.722
g    0.884
r    0.932
i    0.949
z    0.965
y    0.973
dtype: float64

In [19]:
dtime_total = 0
for f in SRD_time_distribution:
    dtime_total += dtime_weighted[f] * SRD_time_distribution[f]
dtime_total

0.93023034445972974