In [1]:
import numpy as np
import pandas as pd
import lsst.sims.photUtils as photUtils
import bandpassUtils as bu
import m5Utils as m

In [2]:
pd.set_option('precision', 3)

In [3]:
# Read bandpass information.
defaultDirs = bu.setDefaultDirs()
addLosses = True
atmosphere = bu.readAtmosphere(defaultDirs['atmosphere'], atmosFile='atmos_10_aerosol.dat')
hardware, system = bu.buildHardwareAndSystem(defaultDirs, addLosses, atmosphereOverride=atmosphere)

In [4]:
# Standard LSST visits, standard LSST readnoise and 1 visit = 15s x 2exp
v_standard = m.makeM5(hardware, system, exptime=15, nexp=2, readnoise=8.8, othernoise=0, darkcurrent=0.2)
v_standard

,FWHMeff,FWHMgeom,skyMag,skyCounts,Zp_t,Tb,Sb,kAtm,gamma,Cm,dCm_infinity,dCm_double,m5,sourceCounts
u,0.92,0.808,22.990,70.403,26.920,0.033,0.052,0.491,0.038,23.085,0.625,0.400,23.783,539.186
g,0.87,0.767,22.256,406.359,28.367,0.125,0.152,0.213,0.039,24.420,0.178,0.094,24.812,792.380
r,0.83,0.734,21.197,812.576,28.148,0.102,0.115,0.126,0.039,24.441,0.097,0.048,24.355,987.135
i,0.80,0.710,20.477,1144.016,27.829,0.076,0.083,0.096,0.039,24.324,0.071,0.034,23.918,1100.118
z,0.78,0.693,19.600,1715.474,27.419,0.052,0.056,0.069,0.039,24.158,0.048,0.022,23.341,1284.078
y,0.76,0.677,18.612,2283.488,26.640,0.026,0.030,0.170,0.039,23.730,0.037,0.016,22.447,1426.612

```
# Previously created "table2" values.
Filter FWHMeff FWHMgeom SkyMag SkyCounts Zp_t Tb Sb kAtm Gamma Cm dCm_infinity m5 SourceCounts
u 0.92 0.81 22.99 70.4 26.92 0.033 0.052 0.4910 0.038145 23.09 0.62 23.78 539.19
g 0.87 0.77 22.26 406.4 28.37 0.125 0.152 0.2134 0.038738 24.42 0.18 24.81 792.38
r 0.83 0.73 21.20 812.6 28.15 0.102 0.115 0.1260 0.038987 24.44 0.10 24.35 987.13
i 0.80 0.71 20.48 1144.0 27.83 0.076 0.083 0.0962 0.039091 24.32 0.07 23.92 1100.12
z 0.78 0.69 19.60 1715.5 27.42 0.052 0.056 0.0687 0.039221 24.16 0.05 23.34 1284.08
y 0.76 0.68 18.61 2283.5 26.64 0.026 0.030 0.1703 0.039299 23.73 0.04 22.45 1426.61
```

In [5]:
# Standard LSST readnoise but 1 visit = 30s x 1exp
v_double = m.makeM5(hardware, system, exptime=30, nexp=1, readnoise=8.8, othernoise=0, darkcurrent=0.2)
v_double

,FWHMeff,FWHMgeom,skyMag,skyCounts,Zp_t,Tb,Sb,kAtm,gamma,Cm,dCm_infinity,dCm_double,m5,sourceCounts
u,0.92,0.808,22.990,70.403,26.920,0.033,0.052,0.491,0.038,23.301,0.409,0.246,23.999,442.116
g,0.87,0.767,22.256,406.359,28.367,0.125,0.152,0.213,0.039,24.499,0.100,0.050,24.891,737.207
r,0.83,0.734,21.197,812.576,28.148,0.102,0.115,0.126,0.039,24.486,0.052,0.024,24.399,947.571
i,0.80,0.710,20.477,1144.016,27.829,0.076,0.083,0.096,0.039,24.357,0.038,0.017,23.951,1067.356
z,0.78,0.693,19.600,1715.474,27.419,0.052,0.056,0.069,0.039,24.181,0.026,0.011,23.363,1257.564
y,0.76,0.677,18.612,2283.488,26.640,0.026,0.030,0.170,0.039,23.748,0.019,0.008,22.464,1404.033

In [6]:
# 7e readnoise, 1 visit = 15s x 2exp
v_7_15 = m.makeM5(hardware, system, exptime=15, nexp=2, readnoise=7, othernoise=0, darkcurrent=0.2)
# 7e readnoise, 1 visit = 30s x 1 exp
v_7_30 = m.makeM5(hardware, system, exptime=30, nexp=1, readnoise=7, othernoise=0, darkcurrent=0.2)

In [7]:
# 9e readnoise, 1 visit = 15s x 2 exp
v_9_15 = m.makeM5(hardware, system, exptime=15, nexp=2, readnoise=9, othernoise=0, darkcurrent=0.2)
# 9e readnoise, 1 visit = 30s x 1 exp                  
v_9_30 = m.makeM5(hardware, system, exptime=30, nexp=1, readnoise=9, othernoise=0, darkcurrent=0.2)

In [8]:
# 13 e readnoise, 1 visit = 15s x 2 exp
v_13_15 = m.makeM5(hardware, system, exptime=15, nexp=2, readnoise=13, othernoise=0, darkcurrent=0.2)
# 13e readnoise, 1 visit = 30s x 1 exp
v_13_30 = m.makeM5(hardware, system, exptime=30, nexp=1, readnoise=13, othernoise=0, darkcurrent=0.2)

In [9]:
# 18 e readnoise, 1 visit = 15s x 2 exp
v_18_15 = m.makeM5(hardware, system, exptime=15, nexp=2, readnoise=18, othernoise=0, darkcurrent=0.2)
# 18e readnoise, 1 visit = 30s x 1 exp
v_18_30 = m.makeM5(hardware, system, exptime=30, nexp=1, readnoise=18, othernoise=0, darkcurrent=0.2)

In [10]:
cols = ['dCm_infinity']
coln = 'dCm_inf'
m5s = [v_7_15, v_7_30, v_9_15, v_9_30, v_13_15, v_13_30, v_18_15, v_18_30]
names = ['7_15', '7_30', '9_15', '9_30', '13_15', '13_30', '18_15', '18_30']
fullnames = []
for n in names:
    fullnames.append(n + ' ' + coln)
first = True
for x, n in zip(m5s, fullnames):
    tmp = pd.DataFrame(x[cols])
    tmp.columns = [n]
    if first:
        d = tmp
        first = False
    else:
        d = d.join(tmp)
d

,7_15 dCm_inf,7_30 dCm_inf,9_15 dCm_inf,9_30 dCm_inf,13_15 dCm_inf,13_30 dCm_inf,18_15 dCm_inf,18_30 dCm_inf
u,0.475,0.302,0.641,0.421,0.935,0.656,1.233,0.917
g,0.121,0.068,0.185,0.103,0.328,0.191,0.513,0.317
r,0.064,0.035,0.101,0.054,0.189,0.104,0.317,0.183
i,0.047,0.025,0.074,0.039,0.141,0.076,0.243,0.136
z,0.032,0.017,0.050,0.027,0.098,0.052,0.174,0.095
y,0.024,0.013,0.038,0.020,0.076,0.040,0.136,0.073

### Impact on dCm_infinity ###

In [11]:
# Change in dCm_infinity
d.subtract(d['9_15 dCm_inf'], axis=0)

,7_15 dCm_inf,7_30 dCm_inf,9_15 dCm_inf,9_30 dCm_inf,13_15 dCm_inf,13_30 dCm_inf,18_15 dCm_inf,18_30 dCm_inf
u,-0.165,-0.339,0.0,-0.220,0.294,0.015,0.593,0.276
g,-0.063,-0.117,0.0,-0.081,0.143,0.006,0.328,0.133
r,-0.036,-0.066,0.0,-0.046,0.089,0.004,0.216,0.082
i,-0.027,-0.048,0.0,-0.034,0.068,0.003,0.169,0.063
z,-0.019,-0.033,0.0,-0.024,0.048,0.002,0.123,0.044
y,-0.014,-0.025,0.0,-0.018,0.037,0.002,0.097,0.034

In [12]:
# Latex version for documents
print(d.to_latex())

\begin{tabular}{lrrrrrrrr}
\toprule
{} &  7\_15 dCm\_inf &  7\_30 dCm\_inf &  9\_15 dCm\_inf &  9\_30 dCm\_inf &  13\_15 dCm\_inf &  13\_30 dCm\_inf &  18\_15 dCm\_inf &  18\_30 dCm\_inf \\
\midrule
u &         0.475 &         0.302 &         0.641 &         0.421 &          0.935 &          0.656 &          1.233 &          0.917 \\
g &         0.121 &         0.068 &         0.185 &         0.103 &          0.328 &          0.191 &          0.513 &          0.317 \\
r &         0.064 &         0.035 &         0.101 &         0.054 &          0.189 &          0.104 &          0.317 &          0.183 \\
i &         0.047 &         0.025 &         0.074 &         0.039 &          0.141 &          0.076 &          0.243 &          0.136 \\
z &         0.032 &         0.017 &         0.050 &         0.027 &          0.098 &          0.052 &          0.174 &          0.095 \\
y &         0.024 &         0.013 &         0.038 &         0.020 &          0.076 &          0.040 &          0.136 &          0.073 \\
\bottomrule
\end{tabular}

In [13]:
cols = ['m5']
coln = 'm5'
m5s = [v_7_15, v_7_30, v_9_15, v_9_30, v_13_15, v_13_30, v_18_15, v_18_30]
names = ['7_15', '7_30', '9_15', '9_30', '13_15', '13_30', '18_15', '18_30']
fullnames = []
for n in names:
    fullnames.append(n + ' ' + coln)
first = True
for x, n in zip(m5s, fullnames):
    tmp = pd.DataFrame(x[cols])
    tmp.columns = [n]
    if first:
        d = tmp
        first = False
    else:
        d = d.join(tmp)
d

   7_15 m5  7_30 m5  9_15 m5  9_30 m5  13_15 m5  13_30 m5  18_15 m5  18_30 m5
u   23.932   24.106   23.767   23.987    23.473    23.752    23.174    23.491
g   24.869   24.923   24.806   24.887    24.663    24.799    24.477    24.673
r   24.387   24.416   24.351   24.397    24.262    24.347    24.135    24.269
i   23.942   23.963   23.915   23.949    23.847    23.912    23.746    23.852
z   23.357   23.372   23.339   23.362    23.291    23.337    23.215    23.294
y   22.460   22.471   22.446   22.464    22.408    22.444    22.348    22.411

### Impact on m5 ###

In [14]:
d.subtract(d['9_15 m5'], axis=0)

   7_15 m5  7_30 m5  9_15 m5  9_30 m5  13_15 m5  13_30 m5  18_15 m5  18_30 m5
u    0.165    0.339      0.0    0.220    -0.294    -0.015    -0.593    -0.276
g    0.063    0.117      0.0    0.081    -0.143    -0.006    -0.328    -0.133
r    0.036    0.066      0.0    0.046    -0.089    -0.004    -0.216    -0.082
i    0.027    0.048      0.0    0.034    -0.068    -0.003    -0.169    -0.063
z    0.019    0.033      0.0    0.024    -0.048    -0.002    -0.123    -0.044
y    0.014    0.025      0.0    0.018    -0.037    -0.002    -0.097    -0.034

### Impact on effective time ###

In [16]:
SRD_time_distribution = {'u': 0.068, 'g': 0.097, 'r': 0.223, 
                         'i': 0.223, 'z': 0.194, 'y': 0.194}
# Fractional change in effective time is proportional to change in m5.
dtime = np.power(10, -0.8 * (d.subtract(d['9_15 m5'], axis=0)))
dtime

   7_15 m5  7_30 m5  9_15 m5  9_30 m5  13_15 m5  13_30 m5  18_15 m5  18_30 m5
u    0.737    0.535      1.0    0.667     1.719     1.029     2.979     1.662
g    0.890    0.806      1.0    0.861     1.301     1.012     1.831     1.277
r    0.936    0.886      1.0    0.918     1.177     1.007     1.489     1.163
i    0.952    0.915      1.0    0.939     1.133     1.005     1.366     1.122
z    0.966    0.941      1.0    0.957     1.093     1.004     1.255     1.085
y    0.974    0.954      1.0    0.967     1.071     1.003     1.196     1.065

Account for distribution of readnoise and filters:
* 50% of the focal plane has 7e read noise
* 25% of the focal plane has 9e read noise
* 20% of the focal plane has 13e read noise
* 5% of the focal plane has 18e read noise

In [17]:
# Change in time per band (2x15s visits)
dtime_weighted = (0.50 * dtime['7_15 m5']   + 0.25 * dtime['9_15 m5'] 
                  + 0.20 * dtime['13_15 m5'] + 0.05 * dtime['18_15 m5'])
dtime_weighted

u    1.111
g    1.047
r    1.028
i    1.021
z    1.014
y    1.011
dtype: float64

In [18]:
dtime_total = 0
for f in SRD_time_distribution:
    dtime_total += dtime_weighted[f] * SRD_time_distribution[f]
dtime_total

1.0268576905228421

In [19]:
# Change in time per band (1x30s visits)
dtime_weighted = (0.50 * dtime['7_30 m5']   + 0.25 * dtime['9_30 m5'] 
                  + 0.20 * dtime['13_30 m5'] + 0.05 * dtime['18_30 m5'])
dtime_weighted

u    0.723
g    0.885
r    0.932
i    0.949
z    0.965
y    0.973
dtype: float64

In [20]:
dtime_total = 0
for f in SRD_time_distribution:
    dtime_total += dtime_weighted[f] * SRD_time_distribution[f]
dtime_total

0.93045755662675278